<h2><code>{{group.name}}</code></h2>

<ul id="messages">
	{{#if messages}}
		{{#each messages}}
		<li class="message box">
			{{time date}}
			<p>{{body}}</p>
		</li>
		{{/each}}
	{{else}}
		<p>There are no messages here yet.</p>
	{{/if}}
</ul>

