html, body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 3em 0;
	background-color: #333;
}



.hidden {
	display: none;
}

.box {
	display: block;
	margin: 1em 0;
	background-color: #ddd;
	color: #333;
	border-radius: .2em;
}

.box p {
	margin: 0;
}

.box a {
	color: #193877;   /* dark blue */
}



#messages {
	padding: 0;
	list-style: none;
}

#messages .message {
	padding: .6em;
}

#messages .message time {
	display: inline-block;
	padding: 0 .5em;
	float: right;
	font-size: 90%;
	color: #555;
}



main {
	margin: 0 auto;
	max-width: 30em;
}

footer {
	margin: 5em auto 0 auto;
	max-width: 30em;
	text-align: center;
}

#logo {
	width: 3em;
}

#logo path {
	fill: #19b292;
}
