html, body {
	margin: 0;
	padding: 0;
}

html {
	box-sizing: border-box;
}
*, *:before, *:after {
	box-sizing: inherit;
}

body {
	margin: 5em 0;
	padding: 0 .5em;
	background-color: #333;
}



.hidden {
	display: none;
}

.box {
	display: block;
	margin: 1em 0;
	background-color: #ddd;
	color: #333;
	border-radius: .2em;
}

.box p {
	margin: 0;
}

.box a {
	color: #193877;   /* dark blue */
}



.grid > .half {
	display: inline-block;
	width: 50%;
}
.grid > .third {
	display: inline-block;
	width: 33.33%;
}
.grid > .half > .box, .grid > .third > .box {
	margin-left: .5em;
	margin-right: .5em;
}
.grid > .half.first, .grid > .third.first {
	float: left;
}
.grid > .half.last, .grid > .third.last {
	float: right;
}
.grid > .half.first > .box, .grid > .third.first > .box {
	margin-left: 0;
}
.grid > .half.last > .box, .grid > .third.last > .box {
	margin-right: 0;
}



#messages {
	padding: 0;
	list-style: none;
}

#messages .message {
	padding: .6em;
}

#messages .message time {
	display: inline-block;
	padding: 0 .5em;
	float: right;
	font-size: 90%;
	color: #555;
}



#notices {
	margin: 1em 0 3em 0;
}

#notices .notice {
	margin: 1em 0;
	padding: .5em;
	color: #333;
	background-color: #e0e0e0;
	border-radius: .2em;
}
#notices .notice.error {
	color: white;
	background-color: #b0211e;
}
#notices .notice.hint {
	color: white;
	background-color: #19b292;
}



main {
	margin: 0 auto;
	max-width: 30em;
}

footer {
	margin: 5em auto 0 auto;
	max-width: 30em;
	text-align: center;
}

#logo {
	width: 3em;
}

#logo path {
	fill: #19b292;
}
